main section.page-find {
    width: 370px;
    height: 60px;
    position: relative;
    top: 2px;
    left: -4px;
    height: 520px;
    overflow: auto;
}
main section.page-find h5{
    margin: 8px 0 8px 8px;
}
main section.page-find ul {
    width: 382px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
main section.page-find ul li {
    margin-bottom: 12px;
    display: flex;
    flex-direction: column;
}

main section.page-find ul li img{
    border-radius: 4px;
}
main section.page-find ul li div {
    display: flex;
    flex-direction: column;
}
main section.page-find ul li div span:first-child {
    font-size: 12px;
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
}
main section.page-find ul li div span:last-child {
    font-size: 10px;
    color: rgb(126, 123, 123);
    width: 110px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: none;
}
main section.page-find .icon.arrow {
    width: 17px;
    height: 19px;
    position: relative;
    top: 2px;
    left: -4px;
    word-wrap: none;
}

.playListName {
    width: 110px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}