main footer { height: 56px; padding: 4px 4px 0 4px; margin-bottom: 1px; position: absolute; border-top: 1px solid #eee;
	bottom: 0; width: 100%; left: 0; display: flex; justify-content: flex-start; }
main footer .current-cover { flex-grow: 0; }
main footer .current-cover img { border-radius: 4px; }
main footer .current-info { flex-grow: 1; padding-left: 8px; display: flex;
	justify-content: space-between; align-items: center; }
main footer .current-info .song-info { display: flex; flex-direction: column; }