* {
    margin: 0;
    padding: 0;
		box-sizing: border-box;
}
ul, ol {
    list-style: none;
}
.container {
    background-color: #444444;
    width: 390px;
    height: 650px;
    margin: 100px auto 0px auto;
    border-radius: 20px;
    position: relative;
    box-shadow: 4px 2px 16px #404040;
    border: 1px solid #7d7d7d;
}
main {
    width: 375px;
    height: 600px;
    border: 1px solid #6e6e6e;
    background-color: white;
    margin: 0 auto;
		position: relative;
}
main nav {
    z-index: 1;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 12px;
    background-color: #09ba72;
    font-weight: 500;
}
main nav ul {
    display: flex;
    justify-content: space-around;
    color: #ddd;
}


main nav ul li span {
    cursor: pointer;
    display: inline-block;
    padding-bottom: 2px;
}

main nav ul li.active {
    color: white;
}
main nav ul li.active::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: white; 
}

main section ul li {
 display: flex;
 justify-content: space-between;   
 flex-wrap: nowrap;
 margin: 4px 0 4px 8px;
}
main section > h5 {
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: flex-start;
    background-color: #dfdede;
    padding: 4px;
}
.song-cover img{
    border-radius: 8px;
}
.song-cover {
	flex-grow: 0;
}
.song-right {
	height: 60px;
	flex-grow: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #eee;
	margin-left: 8px;
}
.icon.operation {
	width: 24px;
	height: 30px;
}
footer {
	width: 100%;
	height: 56px;
	padding: 4px 4px 0 4px;
	position: absolute;
	border-top: 1px solid #eee;
	bottom: 0;
	width: 100%;
	left: 0;
	display: flex;
	justify-content: flex-start;
}
footer .current-cover {
	flex-grow: 0;
}
footer .current-cover img {
	border-radius: 4px;
}
footer .current-info {
	flex-grow: 1;
	padding-left: 8px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
footer .current-info .song-info {
	display: flex;
	flex-direction: column;
}



